.card__like-button {
    background: transparent center no-repeat url(../../../images/like.svg);
    min-width: 22px;
    height: 19px;
    border: none;
  }
  
  .card__like-button:hover {
    opacity: 0.5;
    cursor: pointer;
  }